@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root { /* dark-theme is default */
  --background-color: #313338;
  --primary-color: #7289da;
  --secondary-color: #2b2d31;
  --dark-color: #232428;
  --accent-color: #a058f2;
  --text-color: #ffffff;
}
  
.light-theme {
  --background-color: #ffffff;
  --primary-color: #88b96b;
  --secondary-color: #f0f0f0;
  --dark-color: #d3d3d3;
  --accent-color: #5cb621;
  --text-color: #313338; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background-color: var(--background-color);
}