@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

/* Neon noir et violet
:root {
    --primary-color-dark: #0f0c29;
    --primary-color-medium: #302b63;
    --primary-color-light: #24243e;
    --secondary-color-light: #f953c6;
    --secondary-color-medium: #b91d73;
    --secondary-color-dark: #6d0f5a;
    --background-color: #1a1a1d;
    --text-color: #f8f9fa;
}
*/

/* Bleu et turquoise (clair)
:root {
    --primary-color-dark: #003366;
    --primary-color-medium: #006699;
    --primary-color-light: #3399cc;
    --secondary-color-light: #66cccc;
    --secondary-color-medium: #339999;
    --secondary-color-dark: #006666;
    --background-color: #e0f7fa;
    --text-color: #ffffff;
}
*/

:root {
    --primary-color-dark: #3b2f2f;
    --primary-color-medium: #7a6a6a;
    --primary-color-light: #c2b3b3;
    --secondary-color-light: #d9d2d2;
    --secondary-color-medium: #b3a6a6;
    --secondary-color-dark: #8c7f7f;
    --background-color: #f5f5f5;
    --text-color: #3f2d19;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Geo', sans-serif;
    background-color: var(--background-color);
}